name: HTML Lint CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  html-lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install htmlhint
        run: npm install -g htmlhint

      - name: Run HTMLHint
        run: htmlhint ./**/*.html
